/* base */
* {
    box-sizing: border-box;
    font-family: 'Ibarra Real Nova', serif;
}
/* layout */
main {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin-top: 2em;
    margin-bottom: 2em;
    max-width: 1200px;
    width: 90%;
}

.gallery {
    overflow: visible;
}
    @media (min-width: 500px) {
        .gallery{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
    }
}

.thumbnail {
  margin: 2em;  
}
    
/* input */
#searchbox {
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border-color: rgb(240, 248, 255);
    border-style: solid;
    font-size: 1.4rem;
    display: block;
    width: 90%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

/* images*/
.thumbnail img {
    border-color:  #F0FFFF;
    border-radius: 5px;
    border-style: solid;
    box-shadow: 2px 2px 10px 0px rgba(0,0,102,0.2),
    -2px 0px 10px 0px  rgba(0,0,102,0.2);
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease-in, cubic-bezier(.5,-0.5,1, 1.5);
}

.thumbnail img:hover,
.thumbnail img:focus {
        transform: scale(1.1);
    }

/* media queries */
@media(min-width: 500px) {
    #searchbox {
        text-align: center;
        width: 60%;
    }
    .thumbnail, 
    .thumbnail img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
}
@media(min-width: 768px) {
    #searchbox {
        width:60%;
        font-size: 1.2rem;
    }
    .thumbnail, 
    .thumbnail img {
        width:calc(50% - 20px);
        margin-bottom: 0;
    }
}
@media(min-width: 1200px) {
    #searchbox {
        width: 40%;
    }
    .thumbnail, 
    .thumbnail img {
        width:calc(100% / 4);
        }
}
