input {
    @include center;
    @include border($color-bd);
    display: block;
    font-size: 1.4rem;
    width: 90%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    @include mq("sm"){
        width: 60%;
    }
    @include mq("md") {
        width: 50%;
        font-size: 1.2rem;
    }
    @include mq("lg") {
        width: 40%;
    }
}